/*----Tablet--------*/
@media only screen and (max-width: 1024px) {
.container{
flex-direction: column;
padding: 20px 10px;
}
.btn-banner {
  font-size: 15px;
}
#banner .bold{
font-size: 20px;
}
.nav-bar {
  top:40px;
}
#menuToggle {
  top:55px;
}
.header {
  justify-content: center;
  margin-top: 70px;
}
.header-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#how {
  display: none;
}
.wait{
  display: none;
}
.menu a {
	display: inline;
}
#menuToggle {
	display: block;
}
.nav-bar li.accueil,.nav-bar li.boutique,.nav-bar li.concept,.nav-bar li.blog {
  display: none;
}

.concept-container {
flex-direction: column;
}
#concept .right-section {
  width: 100%;
}
#concept .row {
flex-direction: column-reverse;
}
#avantages .container>.row {
  display: flex;
  flex-direction: column;
}
#avantages .column {
  width: 100%;
  flex:none;
  height: 40%;
}
#avantages .product-details.row {
  flex-direction: column;
}
#avantages .img-avantages {
  display: flex;
  justify-content: center;
}
#avantages .product-details .img-avantages{
padding: 0px;
}
.title-30,.text-avantages {
  text-align: center;
}
.big-img {
	display: none;
}
#social-network .column {
width: 50%;
}
.footer-top .row:nth-child(1) {
flex-direction: column;
}
#contact .row.label-area {
flex-direction: row;
flex-wrap: wrap;
}
.footer-bottom {
display: flex;
}
#header-panier .row.panier1 {
flex-direction: column;
}

}
/*----Mobile---------*/
@media only screen and (max-width:600px) {
.details-produit {
display: flex;
flex-direction: column;
}
#banner {
 height: 50px;
}
#banner .title-20{
font-size: 15px;
}
#banner .bold{
font-size: 18px;
}
.nav-bar {
  top:50px;
}
#menuToggle {
  top:65px;
}
.btn-banner {
  font-size: 10px;
}
#header-panier .produit{
display: none;
}
#article1,#article2,#article3 {
  height: 100px;
}
.article-title .text-choco,.quantites-title .text-choco,.prices-title .text-choco,.remove-title .text-choco{
font-size: 20px;
}
#article1 .title-20,#article2 .title-20,#article3 .title-20 {
  font-size:15px;
}
.article {
width: 10vw;
}
.row.quantites {
  flex-direction: column-reverse;
}
header .wait {
  top:60vh;
  }
 header .align-center .down{
  top:13vh;
}
#concept .space-between {
justify-content: center;
}
#concept .right-section {
  width: 100%;
}
#concept .left-section {
	display: none;
}
#avantages .column {
  flex:none;
  height: 60%;
}
.big-img {
	display: none;
}
.footer-bottom {
padding-right: 0px;
padding-bottom: 50px;
}
.footer-bottom ul {
padding-left: 15px;
}
.logo-footer {
  display: none;
}
#header-panier .row.panier1 {
flex-direction: column;
}

}